<h1> Liste des Cocktails </h1>

<div class="container">
 <div class="row">
   <% @cocktails.each do |cocktail| %>

     <div class="col-lg-4">
       <div>
         <%= link_to cocktail_path(cocktail) do %>
           <h2><%= cocktail.name %></h2>
         <% end %>
       </div>
     </div>
   <% end %>
 </div>
 <%= link_to "Create a cocktail", new_cocktail_path %>
</div>
